<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<style>
    body {
        font-family: 'Arial', sans-serif;
        color: #ffffff;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    main {
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        width: 100%;
    }

    h1 {
        font-size: 2.8em;
        color: #ffffff;
        margin-bottom: 25px;
        font-weight: 700;
    }

    h2, h3 {
        font-size: 1.8em;
        color: #ffffff;
        margin-bottom: 20px;
        font-weight: 600;
    }

    /* Paragraphes */
    p {
        font-size: 1.2em;
        line-height: 1.8;
        color: #ffffff;
        margin-bottom: 20px;
    }

    /* Listes */
    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        background-color: rgba(255, 255, 255, 0.2);
        color: #ffffff;
        margin: 10px 0;
        padding: 12px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
    }

    li:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    /* Messages de fin de jeu */
    .game-over-message {
        font-size: 2.2em;
        font-weight: bold;
        padding: 20px;
        margin: 25px 0;
        border-radius: 12px;
        text-transform: uppercase;
        transition: transform 0.3s ease-in-out, background-color 0.3s ease;
    }

    .victory-message {
        background-color: #43a047;
        color: white;
    }

    .defeat-message {
        background-color: #e53935;
        color: white;
    }

    /* Champs et boutons */
    .uk-input, .uk-button, .uk-fieldset, .uk-legend {
        width: 100%;
        box-sizing: border-box;
        font-size: 1.1em;
        margin-bottom: 15px;
    }

    .uk-input {
        padding: 12px;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: rgba(255, 255, 255, 0.1);
        color: #ffffff;
        transition: border-color 0.3s ease, background-color 0.3s ease;
    }

    .uk-input:focus {
        color : #ffffff;
        border-color: #03a9f4;
        background-color: rgba(255, 255, 255, 0.2);
        outline: none;
    }

    .uk-button {
        padding: 12px;
        border-radius: 10px;
        border: none;
        font-size: 1.1em;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        color: white;
    }

    .uk-button:hover {
        transform: translateY(-3px);
    }

    .uk-button-danger {
        background-color: #e53935;
    }

    .uk-button-danger:hover {
        background-color: #c62828;
    }

    .uk-button-secondary {
        background-color: #039be5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .uk-button-secondary:hover {
        background-color: #0288d1;
    }

    .uk-button-primary {
        background-color: #43a047;
    }

    .uk-button-primary:hover {
        background-color: #388e3c;
    }
</style>
<body class="container" data-game-over="<%= isGameOver %>">

<main>
    <h1>❓ Le jeu du pendu ❓</h1>

    <% if (!canPlayToday) { %>
        <p>Vous avez déjà joué aujourd'hui. Revenez demain pour un nouveau mot !</p>
        <h2>Meilleurs scores :</h2>
        <ul>
            <% topScores.forEach(score => { %>
                <li><%= score.pseudo %> : <%= score.score %> (mot : <%= score.word %>)</li>
            <% }); %>
        </ul>
    <% } else { %>
        <h2>Score: <span id="score"><%= score %></span></h2>

        <% if (!isGameOver) { %>
            <form action="/" method="post">
                <fieldset class="uk-fieldset">
                    <legend class="uk-legend">Nombre d'essais restants : <%= numberOfTries %></legend>
                    <div class="uk-margin">
                        <input class="uk-input" type="text" name="word" placeholder="Tapez une lettre" maxlength="1" pattern="[a-zA-Z]" required>
                    </div>
                    <div class="uk-margin">
                        <button class="uk-input uk-button-secondary uk-form-width-medium" type="submit" value="form-success">Tester</button>
                    </div>
                </fieldset>
            </form>
            
            <% if (guessedLetters) { %>
                <p>Lettres essayées : <%= guessedLetters %></p>
            <% } %>
        <% } else if (isGameWon && !isScoreSubmitted) { %>
            <p>Félicitations ! Vous avez gagné. Entrez votre pseudo pour enregistrer votre score.</p>
            <form action="/" method="post" id="scoreForm">
                <input class="uk-input" type="text" name="pseudo" placeholder="Entrez votre pseudo" required>
                <input type="hidden" name="finalScore" id="finalScore" value="<%= score %>">
                <button class="uk-button uk-button-primary" type="submit">Enregistrer le score</button>
            </form>
            <button id="twitterShareBtn" class="uk-button uk-button-secondary" onclick="shareOnTwitter()">Partager sur Twitter</button>
        <% } else if (isGameWon && isScoreSubmitted) { %>
            <p>Votre score a été enregistré. Merci d'avoir joué ! Revenez demain pour un nouveau mot.</p>
            <button id="twitterShareBtn" class="uk-button uk-button-secondary" onclick="shareOnTwitter()">Partager sur Twitter</button>
        <% } else { %>
            <p>Le jeu est terminé, revenez demain pour un nouveau mot !</p>
        <% } %>

        <% if (isGameOver) { %>
            <% if (isGameWon) { %>
                <div class="game-over-message victory-message">
                    Victoire !
                </div>
            <% } else { %>
                <div class="game-over-message defeat-message">
                    Défaite !
                </div>
            <% } %>
        <% } %>

        <% if (game) { %>
            <h3>Votre mot : <%= game %></h3>
        <% } %>

        <% if (isGameOver) { %>
            <h3>Le mot était : <%= word %></h3>
        <% } %>

        <h3>Meilleurs scores :</h3>
        <ul>
            <% topScores.forEach(score => { %>
                <li><%= score.pseudo %> : <%= score.score %> (mot : <%= score.word %>)</li>
            <% }); %>
        </ul>
    <% } %>

</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        console.log("Le DOM est chargé");
        
        var isGameOver = document.body.dataset.gameOver === 'true';
        console.log("Game Over:", isGameOver);
    
        var scoreElement = document.getElementById('score');
        var finalScoreElement = document.getElementById('finalScore');
    
        function updateScore() {
            $.get('/score', function(data) {
                console.log("Score mis à jour:", data.score);
                if (scoreElement) {
                    scoreElement.textContent = data.score;
                }
                if (finalScoreElement) {
                    finalScoreElement.value = data.score;
                }
            });
        }
    
        // Mise à jour initiale du score
        updateScore();
    
        // Mise à jour du score toutes les secondes
        var scoreInterval = setInterval(updateScore, 1000);
    
        // Arrêter la mise à jour du score si le jeu est terminé
        if (isGameOver) {
            clearInterval(scoreInterval);
        }
    
        // Mettre à jour le score final lors de la soumission du formulaire
        var scoreForm = document.getElementById('scoreForm');
        if (scoreForm) {
            scoreForm.addEventListener('submit', function(event) {
                event.preventDefault();
                // Faire une dernière mise à jour du score avant de soumettre
                $.get('/score', function(data) {
                    if (finalScoreElement && scoreElement) {
                        finalScoreElement.value = data.score;
                        scoreElement.textContent = data.score;
                    }
                    scoreForm.submit();
                });
            });
        }
    
        // Fonction pour partager sur Twitter
        window.shareOnTwitter = function() {
            var tweetText = "J'ai gagné au jeu du Pendu avec un score de " + (scoreElement ? scoreElement.textContent : "") + " ! Pouvez-vous faire mieux ?";
            var tweetUrl = "https://twitter.com/intent/tweet?text=" + encodeURIComponent(tweetText);
            window.open(tweetUrl, '_blank');
        }
    });

      

    // Fonction pour valider la saisie
    function validateInput(event) {
        var char = String.fromCharCode(event.which);
        if (!/[a-zA-Z]/.test(char)) {
            event.preventDefault();
            return false;
        }
    }

    // Fonction pour convertir en majuscules
    function toUpperCase(event) {
        event.target.value = event.target.value.toUpperCase();
    }

    // Attacher les événements au champ de saisie
    document.addEventListener('DOMContentLoaded', function() {
        var input = document.querySelector('input[name="word"]');
        if (input) {
            input.addEventListener('keypress', validateInput);
            input.addEventListener('input', toUpperCase);
        }
    });
</script>

</body>
</html>